<% provide(:title, @user.name) %>
    <div class="row">
      <aside class="span4">
        <section>
          <h1>
            <%= gravatar_for @user %>
            <%= @user.name %>
          </h1>
        </section>
        <section>
            <%= render 'shared/stats' %>
        </section>
      </aside>
      <div class="span8">
        <%= render 'follow_form' if signed_in? %>
        <% if @user.microposts.any? %>
          <h3>Microposts (<%= @user.microposts.count %>)</h3>
          <ol class="microposts">
            <%= render @microposts %>
          </ol>
        <% end %>
      </div>
      <div class="span8">
        <% if @user.bcomments.any? %>
          <h3>Book comments (<%= @user.bcomments.count %>)</h3>
          <ol class="bcomments">
            <%= render @bcomments %>
          </ol>
        <% end %>
        <% if @user.fcomments.any? %>
          <h3>Film comments (<%= @user.fcomments.count %>)</h3>
          <ol class="mcomments">
            <%= render @fcomments %>
          </ol>
        <% end %>
        <% if @user.mcomments.any? %>
          <h3>Music comments (<%= @user.mcomments.count %>)</h3>
          <ol class="mcomments">
            <%= render @mcomments %>
          </ol>
        <% end %>
      </div>


    </div> 