<h1>Listing films</h1>

<table border=1>
  <thead>
    <tr>
      <th>Title</th>
      <th>Date</th>
      <th>Director</th>
      <th>Character</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @films.each do |film| %>
      <tr>
        <td><%= film.title %></td>
        <td><%= film.date %></td>
        <td><%= film.director %></td>
        <td><%= film.character %></td>
        <td><%= link_to 'Show', film %></td>
        <% if signed_in? %>
        <td><%= link_to 'Edit', edit_film_path(film) %></td>
        <td><%= link_to 'Destroy', film, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if signed_in? %>
<%= link_to 'New Film', new_film_path %>
<% end %>