<h1>Listing musics</h1>

<table border=1>
  <thead>
    <tr>
      <th>Title</th>
      <th>Date</th>
      <th>Performer</th>
      <th>Publisher</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @musics.each do |music| %>
      <tr>
        <td><%= music.title %></td>
        <td><%= music.date %></td>
        <td><%= music.performer %></td>
        <td><%= music.publisher %></td>
        <td><%= link_to 'Show', music %></td>
        <% if signed_in? %>
        <td><%= link_to 'Edit', edit_music_path(music) %></td>
        <td><%= link_to 'Destroy', music, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if signed_in? %>
<%= link_to 'New Music', new_music_path %>
<% end %>